---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines " " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

A blueprint can be imported using its series_id.

{{codefile "shell" .ImportFile }}
