---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}
